<html>
    <head>
        <title>Todo, baby</title>
        <style>
            .hidden {
                display: none;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 300px;
            }
            li {
                clear: both;
                margin: 1em 0;
            }
            li:hover{
                background-color: lightblue;
            }
            li button {
                -webkit-appearance: none;
                border: none;
                outline: none;
                color: red;
                float: right;
                cursor: pointer;
            }
            .lists-wrapper, .todos-wrapper {
                display: inline-block;
                vertical-align: top;
            }
            ul {
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <div class="lists-wrapper">
            <form id="list-form">
                <input type="text" name="name" />
                <input type="submit" value="Create" />
            </form>
            <ul id="lists">
                {% for list in lists %}
                    <li>
                        <a href="/list/{{  list.id  }}">{{ list.name }}</a>
                        <input
                            type="checkbox"
                            class="list-completed"
                            id="list-completed-{{ list.id }}"
                            name="list-completed-{{ list.id }}"
                            data-id="{{ list.id }}"
                            title="Toggle Select All"
                            {% if list.completed %}checked=""{% endif %}
                        />
                        <button class="delete-list-btn" data-id="{{ list.id }}">&cross;</button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="error" class="hidden">Something went wrong!</div>
        <div class="todos-wrapper">
            <h4>{{ active_list.name }}</h4>
            <form id="todo-form">
                <input type="text" name="description" />
                <input type="submit" value="Create" />
            </form>
            <ul id="todos" data-list-id="{{ active_list.id }}">
            {% for todo in todos %}
                <li>
                    <input id="todo{{ todo.id }}" data-id="{{ todo.id }}" class="check-completed" type="checkbox" {% if todo.completed %} checked {% endif %} />
                    <label for="todo{{ todo.id }}">{{ todo.description }}</label>
                    <button class="delete-todo-btn" data-id="{{ todo.id }}">&cross;</button>
                </li>
            {% endfor %}
        </ul>
        </div>
        <script>
            document.querySelectorAll('.check-completed').forEach(function(checkbox){
                document.querySelector('#error').className = 'hidden';
                checkbox.onchange = function (e) {
                    console.log('event', e)
                    const newCompleted = e.target.checked
                    const todoId = e.target.dataset['id']
                    fetch(`/todos/${todoId}/set-completed`, {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': newCompleted
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .catch(function(e){
                        document.querySelector('#error').className = '';
                    })
                }                
            })
            document.querySelector('#todo-form').onsubmit = function (e) {
                e.preventDefault();
                document.querySelector('#error').className = 'hidden';
                const listId = document.querySelector('#todos').dataset['listId'];
                fetch(`/todos/create/${listId}`, {
                    method: 'POST',
                    body: JSON.stringify({
                        'description': document.querySelector('[name=description]').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function(response){
                    return response.json();
                }).then(function(jsonResponse){
                    console.log(jsonResponse);
                    const liItem = document.createElement('li');
                    liItem.innerHTML = jsonResponse['description'];
                    document.querySelector('#todos').appendChild(liItem);
                })
                .catch(function(e){
                    document.querySelector('#error').className = '';
                })
            }
            document.querySelector('#list-form').onsubmit = function (e) {
                e.preventDefault();
                document.querySelector('#error').className = 'hidden';
                fetch('/list/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'name': document.querySelector('#list-form input[name=name]').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(function(response){
                    return response.json();
                }).then(function(jsonResponse){
                    console.log(jsonResponse);
                    const aItem = document.createElement('a');
                    const liItem = document.createElement('li');
                    aItem.href = `/list/${jsonResponse['id']}`;
                    aItem.innerHTML = jsonResponse['name'];
                    liItem.appendChild(aItem);
                    document.querySelector('#lists').appendChild(liItem);
                })
                .catch(function(e){
                    document.querySelector('#error').className = '';
                })
            }
            document.querySelectorAll('.list-completed').forEach(function(checkbox){
                document.querySelector('#error').className = 'hidden';
                checkbox.onchange = function (e) {
                    console.log('event', e)
                    const completed = e.target.checked
                    const listId = e.target.dataset['id']
                    fetch(`/list/${listId}/set-completed`, {
                        method: 'POST',
                        body: JSON.stringify({
                            completed
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .catch(function(e){
                        document.querySelector('#error').className = '';
                    })
                }
            })
            document.querySelectorAll('.delete-todo-btn').forEach(function(deleteButton){
                deleteButton.onclick = function(e){
                    e.preventDefault();
                    const deleteButton = e.target
                    const todoId = deleteButton.dataset['id']
                    fetch(`/todos/${todoId}/delete`, {
                        method: 'DELETE',
                        body: JSON.stringify({
                            todoId
                        }),   
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function(response){
                        return response.json();
                    }).then(function(jsonResponse){
                        if(jsonResponse.success){
                            const li = deleteButton.parentNode;
                            li.parentNode.removeChild(li);
                        }
                    }).catch(function(e){
                        console.error(e)
                        document.querySelector('#error').className = '';
                    });
                };
            });
            document.querySelectorAll('.delete-list-btn').forEach(function(deleteButton){
                deleteButton.onclick = function(e){
                    e.preventDefault();
                    const confirmDelete = window.confirm('Would you like to delete this list?')
                    if(!confirmDelete){
                        return;
                    }
                    const deleteButton = e.target
                    const listId = deleteButton.dataset['id']
                    fetch(`/list/${listId}/delete`, {
                        method: 'DELETE',
                        body: JSON.stringify({
                            listId
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(function(response){
                        return response.json();
                    }).then(function(jsonResponse){
                        if(jsonResponse.success){
                            const li = deleteButton.parentNode;
                            li.parentNode.removeChild(li);
                        }
                    }).catch(function(e){
                        console.error(e)
                        document.querySelector('#error').className = '';
                    });
                };
            });
        </script>
    </body>
</html>
